<h2>My Games</h2>

<div>
  <label>Game name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(gameName.value); gameName.value=''">
    add
  </button>
</div>

<ul class="games">
  <li *ngFor="let game of games">
    <a routerLink="/detail/{{game.id}}">
      <span class="badge">{{game.id}}</span> {{game.name}}
    </a>
    <button class="delete" title="delete game"
    (click)="delete(game)">x</button>
  </li>
</ul>
