/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;

}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}/* You can add global styles to this file, and also import other style files */


nav{
  margin-bottom: 100px;
}

section{
  margin: 100px;
}

.carousel-item h1, .carousel-item h3{
  text-shadow: 2px 2px black;
}

#carousel {
  width: 60%;
  margin: auto;

}