<h3 class="font-italic">LA MEILLEURE APPLICATION DE TRACKING DE VOS JEUX VIDEO</h3>
<br/>
<section id="carousel" class="border border-primary">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/img/csgo.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="text-white font-weight-bold">Counter Strike Global Offensive</h1>
          <H3 class="text-white font-weight-bold">L'un des meilleurs FPS de tous les temps !</H3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/img/aoe2.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="text-white font-weight-bold">Age of Empire 2 HD</h1>
          <H3 class="text-white font-weight-bold">Revivez les batailles du moyen-âge !</H3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/img/halo-reach.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="text-white font-weight-bold">Halo Reach</h1>
          <H3 class="text-white font-weight-bold">Rejoignez une communauté multijoueur extraordinaire !</H3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<app-game-search></app-game-search>


<div class="grid grid-pad">
  <a *ngFor="let game of games" class="col-1-4"
      routerLink="/detail/{{game.id}}">
    <div class="module game">
      <h4>{{game.name}}</h4>
    </div>
  </a>
</div>
